@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

/* Common Style */
body {
    font-family: 'Open Sans', sans-serif;
}


header {
    background-color: #FFF8F3;
    background-image: url("images/header_bg.png"), url("images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, 50px 50px;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -20px 200px;
}

.logo-name {
    color: #181818;
    font-size: 55px;
    font-weight: 800;
}

.span {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;

}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 80px;
}

nav li a {
    text-decoration: none;
    color: #474747;
    font-size: 25px;
    font-weight: 400;
}


button.btn-clas {
    width: 130px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    border: none;
    transition: .5s ease;
    cursor: pointer;
}

button.btn-clas:hover {
    background-color: #474747;
}

/* banner related */
.banner {
    margin-top: -150px;
    padding: 30px 30px 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .profile-pic {
    width: 385px;
    height: 700px;
    margin-right: 90px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner .banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}

.banner .banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: -20px;
    margin-bottom: 50px;
}
.banner .banner-content {
    max-width: 400px;
}